.resume{
   background-color: black;
   border-radius: 20px 20px 20px 20px;
   width:100%;
   display: flex;
   justify-content: center;
   padding-top: 20px;
   padding-bottom: 20px;
   width:270px;
}

.resume-link{
    font-size: 2em;
    text-decoration: none;
    color:white;
}